@import '../../style/config';

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  padding: $spacing-sm;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
