@import '../../style/config';

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  border-bottom: 1px solid $color-black-dark;
  padding: 0 $spacing-sm;

  &:last-child {
    border-bottom: 0;
  }
}
