@import '../../style/config';

.button {
  padding: $spacing-lg $spacing-xxl;
  border: 0;
  background-color: $color-black-dark;
  color: $color-white-light;
  font-family: $font-family;
  font-size: $font-size-lg;
  box-shadow: $spacing-xs $spacing-xs 0 $color-gray-base;
  transition:
    box-shadow $animation-duration-slow $animation-timing,
    background-color $animation-duration-slow $animation-timing;
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 0 $color-gray-base;
  background-color: $color-black-light;
  transition:
    box-shadow $animation-duration-quick $animation-timing,
    background-color $animation-duration-quick $animation-timing;
}

.button:active {
  background-color: $color-black-dark;
  transition: none;
}
